<div class="event">
    <div class="content">
        <div class="summary"> 
            <br>
            <em><%= message.user.username %></em>: <%= message.body %>
                               
        </div>
    </div>
</div>